.bg{
    width: 100%;
    height: auto;
    filter: brightness(60%);
}

.container {
    display: flex;
    flex-direction:column;
    text-align: center;
    position: absolute;
    margin-left: 30%;
    margin-top: -700px;
}

.text{
    text-decoration: none;
    border: none;
    font-size: 23px;
    font-family: 'Viaoda Libre', cursive;
    color: white; 
}

.btn{
    text-align: center;
    text-decoration: none;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 30px;
    font-size: 25px;
    font-family: 'Viaoda Libre', cursive;
    color: white; 
    background-color: #767370;
    width: 50%;
    margin-left: 24%;
    margin-top: 45px;
}

.btn:hover {
    background-color: #715304;
}




